
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The Wonderful Juggling Licence Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <a href="/start the prototype" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start the prototype
      </a>

    </div>
</div>

{% endblock %}
